@import 'tailwindcss';

@layer components {
  .page-title {
    @apply text-dark mb-3.5 text-3xl font-semibold 2xl:text-4xl;
  }
  .page-subtitle {
    @apply text-medium mb-3.5 text-xl 2xl:text-2xl;
  }
}

@theme {
  --color-lighter: #fafafd;
  --color-light: #edf0fa;
  --color-softened: #9094ac;
  --color-medium: #515361;
  --color-dark: #1a1d2f;
  --color-darker: #121626;

  --color-accent: #38a6ff;

  --color-ok: #1aef9a;
  --color-ko: #ff6b7f;
  --color-warning: #ffa270;
}
